.Banner{
    margin: auto;
}
.footer{
    background-color:darkcyan;
}
.FooterBg{
    background-color:lightgrey;
}
.gallery{
opacity: 0.8;
}
.gallery:hover{
    opacity: 1;
    transform: scale(0.9);
    transition: all 0.5s ease-in;
}