nav{
    background-color: darkcyan;
    margin-bottom: auto;
}
.navbar-brand{
    font-size: 25px;
    font-family:  ' sans-serif';
}
.navbarLink{
    padding: 12px;
     font-family:  ' sans-serif';
    margin: auto;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    
}
